[package]
name = "CorePackages"
authors = ["Roblox"]
license = ""
version = "0.1.0"

[config]
proxy = "https://github.com/roblox/rotriever-proxy-index"

[dependencies]
Roact = { target = "github.com/Roblox/roact-alignment", version = "17.0.1", package = "RoactCompat" }
Rodux = "github.com/roblox/rodux@1.0"
RoactRodux = "github.com/roblox/roact-rodux@0.2"
RoactAppExperiment = "github.com/roblox/roact-app-experiment@0.4.1"
RoactNavigation = "github.com/roblox/roact-navigation@0.5.7"
Cryo = "github.com/roblox/cryo@1.0"
Dash = "github.com/roblox/dash@0.1"
LuaSocialLibrariesDeps = { git = "https://github.com/Roblox/lua-social-libraries-deps" }
PremiumUpsellDeps = { git = "https://github.com/Roblox/premium-upsell-deps" }
AvatarExperienceDeps = { git = "https://github.com/Roblox/avatar-experience-deps" }
PurchasePromptDeps = { git = "https://github.com/Roblox/purchase-prompt-deps" }
IAPExperience = { git = "https://github.com/Roblox/IAPExperience", rev = "master" }
UIBlox = { git = "https://github.com/Roblox/uiblox", rev = "master" }
Thumbnailing = { git = "https://github.com/Roblox/Thumbnailing", rev = "main" }
Otter = "github.com/roblox/otter@1.1.0"
ReactOtter = "github.com/roblox/otter@1.1.0"
t = "github.com/roblox/t@3.0.0"
enumerate = "github.com/roblox/enumerate@1.0.0"
PolicyProvider = { git = "https://github.com/Roblox/lua-roact-policy-provider", rev = "master" }
Lumberyak = { git = "https://github.com/Roblox/lumberyak" }
StringUtilities = "github.com/Roblox/string-utilities@1.0.0"
UrlBuilder = { git = "https://github.com/Roblox/url-builder", rev = "master" }
FitFrame = "github.com/roblox/roact-fit-components@2.0.0"
NetworkingFriends = "github.com/roblox/networking-friends@2.11.0"
ExperienceChat = { git = "https://github.com/Roblox/lua-experience-chat", rev = "v4.2.6" }
ExperienceChat_New = { git = "https://github.com/Roblox/lua-experience-chat", rev = "v4.2.7" }
RoduxGames = { git = "https://github.com/Roblox/rodux-games", rev = "master" }
ReactFocusNavigation = "github.com/roblox/focus-navigation@1.3.0"
InputHandlers = "github.com/roblox/focus-navigation@1.3.0"
React = "github.com/Roblox/roact-alignment@17.0.1"
ReactIs = "github.com/Roblox/roact-alignment@17.0.1"
ReactRoblox = "github.com/Roblox/roact-alignment@17.0.1"
Promise = "github.com/Roblox/roblox-lua-promise@3.3.0"
VirtualizedList = "github.com/roblox/virtualized-list-lua@1.4.3"
LuauPolyfill = "github.com/Roblox/luau-polyfill@0.4.0"
RoduxNetworking = "github.com/Roblox/rodux-networking@3.1.1"
NetworkingGames = "github.com/Roblox/networking-games@1.2.0"
NetworkingSquads = "github.com/roblox/lua-app-networking@1.9.0"
NetworkingUsers = "github.com/Roblox/networking-users@1.2.1"
HttpRequest = "github.com/Roblox/http-request@1.1.1"
ApolloClient = "github.com/Roblox/apollo-client-lua@0.3.8"
GraphQL = "github.com/Roblox/graphql-lua@15.6.1"
QRCode = "github.com/Roblox/lua-qr-code@0.1.0"
Merge = "github.com/Roblox/graphql-tools-lua@0.3.1"
GraphqlToolsUtils = { target = "github.com/Roblox/graphql-tools-lua", version = "0.3.1", package = "Utils" }
DataLoader = "github.com/Roblox/data-loader-lua@0.2.0"
UGCValidation = "github.com/roblox/ugc-validation@1.10.5"
RbxDesignFoundations = { git = "https://github.com/Roblox/rbx-design-foundations", rev = "main" }
RoduxPresence = { git = "https://github.com/Roblox/rodux-presence", rev = "v3.1.0" }
RoduxFriends = { git = "https://github.com/Roblox/rodux-friends", rev = "v4.2.3" }
RoduxUsers = { git = "https://github.com/Roblox/rodux-users", rev = "v1.5.0" }
Signal = "github.com/roblox/signal-lua@1.0"

# The following packages were ported from AppTempCommon
Result = { git = "https://github.com/Roblox/lua-result" }
tutils = { git = "https://github.com/Roblox/tutils" }

InGameMenuDependencies = { git = "https://github.com/Roblox/in-game-menu-dependencies", rev = "master" }

RoactGamepad = "github.com/roblox/roact-gamepad@0.5.11"

[dev_dependencies]
Jest = "github.com/roblox/jest-roblox@3.5.0"
JestBenchmark = "github.com/roblox/jest-roblox@3.5.0"
JestGlobals = "github.com/roblox/jest-roblox@2.4.1"
JestGlobals3 = { target = "github.com/roblox/jest-roblox", version = "3.5.0", package = "JestGlobals" }
# switch from git-dependency once mirrored in artifactory
ReactTestingLibrary = "github.com/Roblox/react-testing-library-lua@12.2.0"
Rhodium = "github.com/roblox/rhodium@0.5.0"
TagUtils = "github.com/Roblox/luau-tag-utils@0.1.0"
RecordPlayback = "https://github.com/Roblox/http-service-utils@0.1.1"
RoduxDevtools = "github.com/Roblox/rodux-devtools@1.0.0-rc.1"
# Dependencies for the Roact17 inspector
ReactDevtoolsExtensions = "github.com/Roblox/roact-alignment@17.0.1"
DeveloperTools = "github.com/Roblox/developer-tools@0.2.7"
ApolloClientTesting = "github.com/Roblox/apollo-client-testing@0.3.10"
UsageTracker = "github.com/roblox/usage-tracker-lua@0.1.1"

# Patch all dependencies (git or otherwise) upon rodux to the flagged indirection package,
# which will ensure that we always use only one rodux version
[config.patch."https://github.com/roblox/rodux"]
Rodux = { git = "https://github.com/roblox/rodux", rev = "v3.1.0" }

[config.patch_git."https://github.com/roblox/rodux"]
Rodux = { git = "https://github.com/roblox/rodux", rev = "v3.1.0" }

[config.patch."https://github.com/roblox/roblox-lua-promise"]
Promise = { git = "github.com/Roblox/promise-upgrade", rev = "v0.1.0", package = "Promise" }

[config.patch_git."https://github.com/roblox/roblox-lua-promise"]
Promise = { git = "github.com/Roblox/promise-upgrade", rev = "v0.1.0", package = "Promise" }

[config.patch_git."https://github.com/roblox/lua-promise"]
Promise = { git = "github.com/Roblox/promise-upgrade", rev = "v0.1.0", package = "Promise" }

[config.patch."https://github.com/roblox/roact-navigation"]
RoactNavigation = "github.com/roblox/roact-navigation@0.5.7"

# Cryo - flagged upgrade
[config.patch."github.com/roblox/cryo"]
Cryo = { git = "https://github.com/Roblox/cryo-upgrade", rev = "main", package = "CryoProxy" }

# Roact 17 - Patch in roact compat for legacy roact
[config.patch."github.com/roblox/roact"]
Roact = { target = "github.com/Roblox/roact-alignment", version = "17.0.1", package = "RoactCompat" }

[config.patch_git."https://github.com/roblox/roact-17-upgrade"]
RoactProxy = { target = "github.com/Roblox/roact-alignment", version = "17.0.1", package = "RoactCompat" }
ReactProxy = { target = "github.com/Roblox/roact-alignment", version = "17.0.1", package = "React" }
ReactIsProxy = { target = "github.com/Roblox/roact-alignment", version = "17.0.1", package = "ReactIs" }
ReactRobloxProxy = { target = "github.com/Roblox/roact-alignment", version = "17.0.1", package = "ReactRoblox" }
Roact = { target = "github.com/Roblox/roact-alignment", version = "17.0.1", package = "RoactCompat" }
React = { target = "github.com/Roblox/roact-alignment", version = "17.0.1", package = "React" }
ReactIs = { target = "github.com/Roblox/roact-alignment", version = "17.0.1", package = "ReactIs" }
ReactRoblox = { target = "github.com/Roblox/roact-alignment", version = "17.0.1", package = "ReactRoblox" }

[config.patch."github.com/roblox/roact-rodux"]
RoactRodux = "github.com/Roblox/roact-rodux@0.5.1"

[config.patch."github.com/roblox/roact-gamepad"]
RoactGamepad = "github.com/Roblox/roact-gamepad@0.5.11"

[config.patch."github.com/roblox/virtualized-list-lua"]
VirtualizedList = "github.com/roblox/virtualized-list-lua@1.4.3"

# Patch over a deep jest dependency in order to preempt a new analysis error
# that caught several mistranslation bugs
[config.patch."github.com/roblox/picomatch-lua"]
Picomatch = "github.com/roblox/picomatch-lua@0.3.1"

# Patching over a dependency of ReactTestingLibrary remove when mirrored in artifactory
[config.patch."github.com/roblox/dom-testing-library-lua"]
DomTestingLibrary = { git = "github.com/roblox/dom-testing-library-lua", rev = "d9b6c762c95e0bc296bd41f0ab25995d4fbbd5a6" }
